{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container-fluid px-0"><div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/17.JPG" height="800" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>WELCOME IN YOUR VIRTUAL GYM</h1>
        <p>‘The last three or four reps is what makes the muscle grow. This area of pain divides a champion from someone who is not a champion.’.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/2.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>ALWAYS REMEMBER</h2>
        <p>‘Success usually comes to those who are too busy to be looking for it.’</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/6.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>ALWAYS</h2>
        <p>"Addicted to get stronger".                                           .</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div></div>
<div class="container my-4">
<h1 class="my2 text-center"> <B>SELECT EXERCISES ACCORDING TO YOUR PREFERENCE:<B></h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/1.JPG" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><h2>Biceps Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/KOCPftPnAF0">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/7.JPG" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><h2>Triceps Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/z8_fSUc7MTw">View</a></button>
                 
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/8.JPG" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text"><h2>Shoulder Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.w3schools.com/">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
                <img src="/static/9.JPG" class="d-block w-100" alt="...">   

            <div class="card-body">
              <p class="card-text"><h2>Chest Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/tKU64bd4gaw">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
                <img src="/static/10.JPG" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><h2>Back Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/rLOaX9pp7xM">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/11.JPG" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><h2>Leg Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/UKM_3T2-Huc">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/14.JPG" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><h2>Abs Workout</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/N3aSoC0HHdU">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/15.JPG" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><h2>Cardio Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/VWj8ZxCxrYk">View</a></button>
                 
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/16.JPG" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><h2>Calisthenics Exercises</h2></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://youtu.be/jldft-ppzCU">View</a></button>
                  
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}


